.trending-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px lightgray solid;
}

.trending-container a {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.trending-container h2 {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.trending-inner-box {
    display: block;
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 120px
}

.trending-items-box {
    display: flex;
    flex-basis: 33.33%;
}

.trending-title {
    display: flex;
    align-items: center;
    flex-direction: row;

    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.trending-items-box {
    width: 100%;
    display: flex;
    justify-content: center;

}

.trending-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sections {
    display: flex;
    width: 400px;
    align-items: flex-start;
}

.section-date {
    color: darkgray;
        font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 14px;
}

.section-number {
    font-size: 32px;
    color: rgba(230, 230, 230, 1);
    font-weight: bold;
}

.trending-number {
    margin-right:16px ;
}
.section-information h2 {
    font-size: 16px;
}

.section-name {
    display: flex;
flex-direction: row;
align-items: center;
}

.span-in {
    color: darkgray;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
